.table * {
  color: var(--color-text-light) !important;
}

.table {
  background-color: var(--color-bg-page) !important;
  border: 1px solid var(--color-text-light) !important;
}

.input {
  color: var(--color-text-light) !important;
}

.inputContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: var(--color-accent) !important;
  transition: background-color 0.3s ease;


  &:hover {
    background-color: var(--color-accent-hover) !important;
  }
}
