

.table * {
  color: var(--color-text-light);
}

.table {
  background-color: var(--color-bg-page);
  border: 1px solid var(--color-text-light);
}

.input {
  color: var(--color-text-light);
}

.inputContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: var(--color-accent);
  transition: background-color 0.3s ease;


  &:hover {
    background-color: var(--color-accent-hover);
  }
}
