
.selectContainer *,
.select * {
  background-color: var(--color-bg-page);
}

.selectLabel {
  color: var(--color-accent);
  transition: color 0.3s ease;

  &.selected {
    color: var(--color-text-light);
  }
}

.select {
  color: var(--color-text-light);
}

.option {
  color: var(--color-text-light);
  background-color: var(--color-border);
  transition: color 0.3s ease;


  &:hover {
    background-color: var(--color-accent);
  }

  &.Mui-selected {
    background-color: var(--color-accent);
  }
}

