$color-black: #000000;
$color-black-olive: #403f3d;
$color-granite: #665f55;
$color-bone: #e1d4c9;
$color-anti-flash-white: #f0f0f0;
$color-iguana-green: #75b781;
$color-green: #5dad2c;
$color-dark-green: #3c741b;
$color-yellow: #e0c445;
$color-sandy-brown: #f0a658;
$color-pastel-yellow: #e09544;
$color-chinese-bronze: #ce802d;
$color-light-blue: #3eb7eb;
$color-blue: #1c87b4;
$color-dark-blue: #1f7ba3;
$color-light-red: #e47272;
$color-red: #db3232;
$color-dark-red: #c42323;
$color-medium-purple: #6554c2;
$color-major-blue: #5746bb;
$color-dark-slate-blue: #383069;
$color-black-transparent: #00000050;


:root {
  --color-star-filled: #{$color-yellow};
  --color-star-empty: #{$color-anti-flash-white};
  --color-text-primary: #{$color-black-olive};
  --color-text-dark: #{$color-black};
  --color-bd: #{$color-black-olive};
  --color-bg-page: #{$color-iguana-green};
  --color-bg-container: #{$color-anti-flash-white};
  --color-primary: #{$color-sandy-brown};
  --color-primary-accent: #{$color-pastel-yellow};
  --color-primary-active: #{$color-chinese-bronze};
  --color-second: #{$color-light-blue};
  --color-second-accent: #{$color-blue};
  --color-second-active: #{$color-dark-blue};
  --color-third: #{$color-iguana-green};
  --color-third-accent: #{$color-green};
  --color-third-active: #{$color-dark-green};
  --color-error: #{$color-light-red};
  --color-error-accent: #{$color-red};
  --color-error-active: #{$color-dark-red};
  --color-disabled: #{$color-granite};
  --color-shadow: #{$color-black-transparent};

  --primary-font: "Inter", system-ui, "Avenir", "Helvetica", "Arial", sans-serif;

  --min-width: 360px;
  --max-width: 1440px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: var(--min-width);
  height: 100dvh;
  min-height: 100%;
  margin: 0 auto;
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-primary);
  background-color: var(--color-bg-page);
  transition: background-color 0.6s ease;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
}
