.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 20px 10px;
  color: var(--color-text-dark);
  border-bottom: 1px solid var(--color-border);
  box-shadow: none;
  transition: all 0.3s ease;

  &.sticky {
    top: 7px;
    padding: 5px 10px;
    background-color: var(--color-accent-dark);
    box-shadow: 0 2px 10px var(--color-accent);
  }
}

.title {
  margin: 0;
}

.accent {
  color: var(--color-accent);
}

.links {
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 20px;
}

.right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

