.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0 20px;
}

.rightContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.signLinks {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.usa,
.russia {
  background-size: cover;
}

.usa {
  background-image: url("../../../public/usa.svg");
}

.russia {
  background-image: url("../../../public/russia.svg");
}

