.header {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  color: var(--color-text-dark);
  border-bottom: 1px solid var(--color-border);
}

.accent {
  color: var(--color-accent);
}

.links {
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  font-size: 20px;
}

.right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

