.footer {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  color: var(--color-text-dark);
  border-top: 1px solid var(--color-border);
}

.links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 20px;
}

.footer_image {
  width: 50px;
  height: 50px;
}

.footer_items {
  width: 105px;
}
