.container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  min-height: 200px;
  padding: 30px;
  font-size: 20px;
  text-align: start;
  background: var(--half-background-color);
  border: 1px solid var(--color-border);
  border-radius: 50px;

  & div {
    box-sizing: border-box;
    padding: 5px 10px;
    background-color: var(--half-half-background-color);
    border-radius: 5px;
  }
}

.sectionTitle {
  position: absolute;
  top: -52px;
  left: 35%;
  width: 200px;
  text-align: center;
  background-color: var(--color-bg-page);
}
