.page {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 10px 0 30px;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  align-items: start;
  box-sizing: border-box;
  width: 80%;
  max-width: 700px;
  font-size: 20px;
  border-radius: 50px;
}

.title {
  margin-inline: auto;
  color: var(--color-text-light);
}

.section,
.items {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  min-height: min-content;
  padding: 30px;
  border: 1px solid var(--color-border);
  border-radius: 50px;
}

.section {
  margin-bottom: 30px;
}

.response {
  width: 80%;
}

.sectionTitle {
  position: absolute;
  top: -52px;
  left: 50%;
  width: fit-content;
  padding-inline: 20px;
  text-align: center;
  background-color: var(--color-bg-page);
  transform: translateX(-50%);
}

.buttonsContainer {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}


.subtitle {
  text-align: left;
}

.items {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  justify-content: start;
  align-items: start;
  width: 100%;

  & input {
    width: 100%;
    height: 20px;
    border: 1px solid var(--background-color);
    border-radius: 5px;
  }
}

.oneLine {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: baseline;
}
