.page {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  gap: 50px;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: 75vh;

  & .title {
    font-size: 50px;
    color: var(--color-text-light);
  }

  &.loader {
    justify-content: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 380px;
  max-width: 500px;
  margin-inline: auto;
  padding: 30px 30px 40px;
  border: 1px solid var(--color-border);
  border-radius: 50px;
  box-shadow: 0 0 16px 8px var(--color-accent);
}

.submitButton {
  margin-top: 10px;
}
