.section {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  min-height: min-content;
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid var(--color-border);
  border-radius: 50px;
}

.sectionTitle {
  position: absolute;
  top: -52px;
  left: 50%;
  width: fit-content;
  padding-inline: 20px;
  text-align: center;
  background-color: var(--color-bg-page);
  transform: translateX(-50%);
}
