.blockInfo {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px 40px;
  color: var(--primary-color);
  border-radius: 10px;
}

.linkImage {
  color: var(--primary-color);
  border: 5px solid transparent;
  border-radius: 50%;
}

.blockInfo.rotate {
  flex-flow: row-reverse nowrap;
}

.imageIzy {
  background: url("/izy.jpg");
}

.imageVadim {
  background: url("/vadim.png");
}

.imageAlex {
  background: url("/alex.png");
}

.imageTeam {
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: background-size 500ms;

  &:hover {
    background-size: 110%;
  }
}

.imageRss {
  background-color: var(--color-text-dark);
  background-image: url("/rss.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: background-color 500ms ease-out;

  &:hover {
    background-color: var(--color-primary);
    background-size: 80%;
  }
}

.textInfo {
  display: flex;
  flex: 4;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: space-around;
  min-height: 300px;
}

.textInfo div {
  line-height: 20px;
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.link {
  color: var(--primary-color);
  transition: all 500ms;
  text-underline-offset: 4px;

  &:hover {
    color: var(--color-text-light);
  }
}

.titleBlock {
  align-self: center;
  width: max-content;
  text-decoration: none;
  transition: all 500ms;

  &:hover {
    transform: translateY(-5px);
  }
}

.infoTitle {
  font-weight: 800;
  color: var(--color-accent);
}

.softStackItem {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 8px;
  padding: 5px;
  color: var(--color-text-light);
  background-color: var(--color-accent-hover);
  border-radius: 4px;
  transition: all 500ms;

  &:hover {
    transform: translateY(-5px);
  }
}

@media (width <= 800px) {
  .blockInfo {
    flex-flow: column nowrap;

    &.rotate {
      flex-flow: column nowrap;
    }
  }
}
